# plain io

In [1]:
f = open("a.txt", "w")
f.write("hello world\n")
f.close()

In [2]:
with open("a.txt", "r") as f:
    content = f.read()
print(content)

hello world

# csv

In [3]:
import csv

In [4]:
students = (('id', 'name', 'age'),
            (123, 'zhangsan', 18),
            (124, 'lisi', 19),
            (125, 'zhouwu', 20),)

In [5]:
with open("students.csv", "w", newline="") as f:
    writer = csv.writer(f)
    writer.writerows(students)

In [6]:
with open("students.csv", "r", newline="") as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['id', 'name', 'age']
['123', 'zhangsan', '18']
['124', 'lisi', '19']
['125', 'zhouwu', '20']

In [7]:
import sqlite3

In [8]:
con_mem = sqlite3.connect(":memory:")

In [9]:
con_mem.execute("create table students (ID int, name text)")

In [10]:
con_mem.close() # no table saved

In [11]:
con = sqlite3.connect("students.db")

In [12]:
con.execute("create table students (ID int, name text)")

In [13]:
con.execute("insert into students values (123, 'zhangsan')")

In [14]:
res = con.execute("select * from students")

In [15]:
res

In [16]:
for row in res:
    print(row)

(123, 'zhangsan')

In [17]:
def query_by_name(connection, name):
    script = f"select * from students where name='{name}';"
    print(script)
    res = connection.execute(script)
    for row in res:
        print(row)

In [18]:
query_by_name(con, "zhangsan")

select * from students where name='zhangsan';
(123, 'zhangsan')

In [19]:
query_by_name(con, "' or true; --")

select * from students where name='' or true; --';
(123, 'zhangsan')

In [20]:
def query_by_name_placeholder(connection, name):
    sql = "select * from students where name=?"
    res = connection.execute(sql, (name, ))
    for row in res:
        print(row)

In [21]:
query_by_name_placeholder(con, "' or true; --")

In [22]:
query_by_name_placeholder(con, "zhangsan")

(123, 'zhangsan')

In [23]:
script = """
insert into students values (124, 'lisi');
insert into students values (125, 'zhouwu');
insert into students values (126, 'wangliu');
"""

In [24]:
con.executescript(script)

In [25]:
for res in con.execute("select * from students"):
    print(res)

(123, 'zhangsan')
(124, 'lisi')
(125, 'zhouwu')
(126, 'wangliu')

# json

In [26]:
import json

In [27]:
s = json.loads('{"name": "zhangsan", "age": 12}')

In [28]:
with open("s.json", "w") as f:
    json.dump(s, f)

In [29]:
with open("s.json", "r") as f:
    t = json.load(f)
    print(t)

{'name': 'zhangsan', 'age': 12}

# pickle

In [30]:
import pickle

In [31]:
with open("s.pk", "wb") as f:
    pickle.dump(s, f)

In [32]:
with open("s.pk", "rb") as f:
    u = pickle.load(f)
    print(u)

{'name': 'zhangsan', 'age': 12}

In [33]:
class A:
    def __init__(self, a):
        self.a = a
    def display(self):
        print(self.a)

In [34]:
obj = A("hello")

In [35]:
with open("obj.pk", "wb") as f:
    pickle.dump(obj, f)

In [37]:
with open("obj.pk", "rb") as f:
    obj2 = pickle.load(f)
    obj2.display()

hello